
@{
    Layout = null;    
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>资讯详情页-尊贵赛鸽</title>
    <link rel="shortcut icon" type="image/x-icon" href="http://image.chsgw.com/favicon.ico" media="screen" />
    <link rel="stylesheet" type="text/css" href="../css/global.css" />
    <link rel="stylesheet" type="text/css" href="../css/news-detail.css" />
</head>
<body>
    <div class="news_main">
        <div class="news-banner-container">
            <div class="news-banner-left">
                <div class="news-banner-logo"><img src="../images/logo.png" /></div>
                <div class="news-banner-text">
                    <p>尊贵赛鸽</p>
                    <p>有态度、有温度、有深度</p>
                </div>
            </div>
            <div class="news-banner-right">
                <a href="#">打开</a>
            </div>
        </div>
        <div class="news-body">
            <div class="news-body-header">
                <h1 class="news-body-title">鸽协和公棚的这场公开对掐，你相信谁？</h1>
                <div class="news-body-aut">
                    <span>Moment • </span>
                    <span>2018-06-01 16:30 • </span>
                    <span>569次阅读</span>
                </div>
                <p class="news-body-subtitle">这条盘根错杂、充满利益链条纠纷的产业链究竟能否通过互联网顺利改造，还要打上一个大的问大的问号?</p>
            </div>
            <div class="news-body_main">
                <p>
                    5月29日，白银市信鸽协会发布公告《关于对“白银文德赛鸽公棚”违规举办信鸽赛事及恶意欺瞒鸽协、鸽友的处罚决定》，指白银文德公棚私自、 非法将150万保证金挪于他用，并在收到警告和督促办理相关手续后依然我行我素的对外发布声称已办理赛事竞赛手续，故意欺瞒鸽协及广大鸽 友，动机性质恶劣。对此，鸽协依法对《白银文德赛鸽公棚2018年第三届“四关竞赛”做出停赛的处罚决定》。具体公告如下：
                </p>
                <p>
                    <img src="../images/pic_01.png" />
                </p>
                <p>
                    此公告一出，可谓一石激起千层浪，引发一片哗然。毕竟现在信息时代，各大公棚也很注重树立比赛的“公平、公开、公正”形象，像公告里所说 的“目无法纪、目无制度”的行为已经鲜有听闻。次日，文德公棚就这一事件作出了回应，称并非私自、非法将保证金挪为他用，只是变更了监赛 单位，而且变更监赛单位的原因是“白银市信鸽协会的监赛费用上涨巨大”。并表示比赛将会继续举办。具体回应如下：
                </p>
                <div class="mod-play1er">
                    <video src="http://vod.chsgw.com/9afb77d8267d4183ba1553fbb7a96612.mp4" controls="controls" autoplay="autoplay" loop="loop" webkit-playsinline="true" playsinline="true"></video>
                </div>
                <p>
                    文德公棚这件事，值得我们深思，公棚究应该 由谁监管，是否该明确责任范围？如果像这样 公棚和市鸽协出现矛盾后，市鸽协退出监管划 清界线，公棚还可以自己通过市体育局批准成 立区鸽协，监赛单位就只是个存在形式，这样 的监管意义何在？出了问题该找谁？但若无人 监管，鸽友们的利益毫无保障，单凭对方空口 白话，怎么放心把鸽子交出去？这样的事情一 旦躲起来，还谈何规章制度？势必会对赛鸽运 动的健康发展产生影响。俱乐部、公棚该由谁 管、该怎么管才更合理规范，是值得我们大家 思考的问题。
                </p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/pub.js"></script>
</body>
</html>

