/* 
    type:css样式文件
    description:资讯详情页css文件
    author:liuhuachao
    createdate:2018.06.13    
    update:
*/

@charset "utf-8";

.news-body {
	overflow-x: hidden;
	padding: 0 .15rem;
}

.news-body-header {
	margin-top: .8rem;
}

.news-body-title {
	font-size: .23rem;
	font-weight: normal;
	line-height: .36rem;
	color: #333333;
	margin-bottom: .4rem;
}

.news-body-aut {
	font-size: .13rem;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	color: #999999;
	overflow: hidden;
	margin-bottom: .45rem;
}

.news-body-subtitle {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	color: #999999;
	font-size: .16rem;
	line-height: .28rem;
	margin-bottom: .45rem;
}

.news-body_main *
{
	font-size: .17rem;	
	color: #666666;
    line-height: .28rem;
	margin-bottom: .25rem;
}

.mod-play1er {
	margin-bottom: .25rem;
}

.mod-play1er video {
	width: 100%;
	height: auto;
	border: 0 none;
	background: #000;
	z-index: 101;
	overflow: hidden;
	vertical-align: top;
}

/*更多精彩 begin*/
.fenge_line {
    font-size: .12rem;
    color: #999999;
    text-align: center;
    line-height: .2rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    position: relative;
}

.fenge_line p:before,
.fenge_line p:after {
    content: "";
    display: block;
    width: .6rem;
    height: 1px;
    background: #ccc;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0 -1.05rem;
    z-index: 9999;
}

.fenge_line p:after {
    margin: 0 .45rem;
}

.more_news {
    margin-bottom: 200px;
}

.news_card {
    padding: .15rem;
    border-bottom: 1px #e5e5e5 solid;
}

.card_type_one a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #333333;
}

.card_type_one .news-pic {
    width: 1.15rem;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.card_type_one .news-pic img {
    display: block;
    height: .77rem !important;
    margin: 0 auto;
}

.card_type_one .news-info {
    -webkit-box-flex: 2;
    -webkit-flex: 2 2 auto;
    -ms-flex: 2 2 auto;
    flex: 2 2 auto;
    padding-left: .12rem;
}

.news_card .title {
    font-weight: 500;
    max-height: .5rem;
    overflow: hidden;
    line-height: .23rem;
    font-size: .18rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    word-break: break-word;
}

.news_card .detail {
    color: #999;
    line-height: .16rem;
    height: .16rem;
    margin-top: .15rem;
    font-size: .12rem;
    letter-spacing: 0;
    overflow: hidden;
}

.card_type_two a {
    color: #333333;
}
/*更多精彩 end*/

/*表格样式 begin*/
.mod-table {
    height: auto;
    overflow-x: scroll;
}

.mod-table table {
    border-collapse: collapse;
    border: 1px solid #aaa;
    width: 100%;
    border-spacing: 0;
    font-size: .13rem;
    table-layout: auto;
}

.mod-table table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

.mod-table table th {
    font-weight: bold;
    background: #f0f0f0;
    color: #333;
}

.mod-table table th,
.mod-table table td {
    padding: .06rem .13rem;
    border: 1px solid #ddd;
    min-width: .8rem;
}

.news-body_main table tr:nth-child(2n) {
    background: #f0f0f0;
}
/*表格样式 end*/