/* 
    type:css样式文件
    description:视频详情页css文件
    author:liuhuachao
    createdate:2018.06.13    
    update:
*/

@charset "utf-8";

.news-banner-container {
	width: 100%;
	height: .5rem;
	position: fixed;
	bottom: 0 ;
	left: 0;
	z-index: 9999999;
	background: rgba(0, 0, 0, 0.7);
}

.vid_play {
	position: fixed;
	/*left: 0;*/
	top: 0;
	z-index: 99999;
	height: 2.11rem;
	width: 100%;
	overflow-x: hidden;
	background:#f0f0f0;
	padding-bottom: .08rem;
}

.vid_play video {
	width: 3.75rem;
	height: 2.11rem;
	border: 0 none;
	background: #000;
	z-index: 101;
	overflow: hidden;
	vertical-align: top;		
}

.vid_header {
	padding: 0 .15rem;
	overflow-x: hidden;
	margin-top: 2.11rem;
}

.vid_header h1 {
	font-size: .18rem;
	line-height: .24rem;
	padding-top: .175rem;
	color: #333333;
	padding-bottom: .13rem;
}

.vid_header p {
	font-size: .11rem;
	color: #999999;
	margin-bottom: .175rem;
}
.vid_header p span {
	margin-right: .075rem;
}
.vid_body{
	padding: 0 .15rem;
	
}
.vid_body p{
	font-size: .15rem;
	color: #666666;
	margin-bottom: .1rem;
	line-height: .24rem;
}

/*更多精彩 begin*/
.fenge_line {
    font-size: .12rem;
    color: #999999;
    text-align: center;
    line-height: .2rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    position: relative;
}

.fenge_line p:before,
.fenge_line p:after {
    content: "";
    display: block;
    width: .6rem;
    height: 1px;
    background: #ccc;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0 -1.05rem;
    z-index: 9999;
}

.fenge_line p:after {
    margin: 0 .45rem;
}

.more_news {
    margin-bottom: 1rem;
}

.news_card {
    padding: .15rem;
    border-bottom: 1px #e5e5e5 solid;
}

.card_type_one a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #333333;
}

.card_type_one .news-pic {
    width: 1.15rem;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
}

.card_type_one .news-pic img {
    display: block;
    height: .77rem !important;
    margin: 0 auto;
}

.card_type_one .news-info {
    -webkit-box-flex: 2;
    -webkit-flex: 2 2 auto;
    -ms-flex: 2 2 auto;
    flex: 2 2 auto;
    padding-left: .12rem;
}

.news_card .title {
    font-weight: 500;
    max-height: .5rem;
    overflow: hidden;
    line-height: .23rem;
    font-size: .18rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    word-break: break-word;
}

.news_card .detail {
    color: #999;
    line-height: .16rem;
    height: .16rem;
    margin-top: .15rem;
    font-size: .12rem;
    letter-spacing: 0;
    overflow: hidden;
}

.video-tag {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 9999;
    height: .3rem;
    width: .3rem;
    margin: -.15rem;
    background: url(img/icon_ofang@2x.png) no-repeat left top;
    background-size: cover;
}
/*更多精彩 end*/